### Requirements

### If you have a GPU environment, uncomment the following line
tensorflow-gpu==2.9.3
#tensorflow==1.15.0

keras == 2.3.1
protobuf
matplotlib
joblib

pretty_midi
pyfluidsynth

tensorboard_logger
matplotlib
pyxdameraulevenshtein

jupyter 
notebook
tqdm